@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-color: #c2b121;
  --main-font: "Roboto", sans-serif;
  /* --hover-color: #f7f7f7; */
  --hover-color: #f8f5d7;
  --default-radius: 5px;
  --body-color: #efefef;
  --default-white: #ffffff;
  --default-border: 1px solid rgb(224, 214, 214);
  --faded-text: rgb(224, 214, 214);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background: var(--body-color);
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px;
  height: 70px;
  background: var(--default-white);
  border: var(--default-border);
}

.logo_search {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
}
.logo_search form {
  width: 80%;
}
.search-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: var(--default-border);
  padding: 0 5px;
  border-radius: var(--default-radius);
  overflow: hidden;
}
.search-img {
  width: 30px;
  height: 30px;
}
.search-input {
  width: 380px;
  height: 40px;
  font-size: 16px;
  border: none;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile_create {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
}
.create-btn {
  font-size: 16px;
  padding: 8px 15px;
  background: var(--main-color);
  border-radius: var(--default-radius);
  font-weight: 400;
}
.create-btn:hover {
  background: var(--hover-color);
}
.notification-img {
  width: 20px;
  height: 20px;
}
.profile-img {
  width: 38px;
  height: 38px;
}

/* CONTAINER SECTION */
.container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 10px 10px;
}

.options_menu {
  width: 20%;
  padding: 10px 10px;
  max-width: 120vh;
}
.options-list li {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 2;
  padding: 5px 20px;
  border-radius: var(--default-radius);
}
.options-list li:hover {
  background: var(--hover-color);
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-options {
  width: 100%;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1.1rem;
}
.content-options-btn {
  padding: 8px 15px;
  border-radius: var(--default-radius);
}
.content-options-btn:hover {
  background: var(--hover-color);
}

.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
}
.post {
  width: 100%;
  height: auto;
  background: var(--default-white);
  border-radius: var(--default-radius);
  padding: 15px 20px;
  border: var(--default-border);
  margin-bottom: 15px;
}
.post-author-info {
  display: flex;
  width: 100%;
}
.post-author-img {
  width: 10%;
}
.post-author-img a img {
  width: 100%;
  object-fit: cover;
}
.post-author-name {
  display: flex;
  flex-direction: column;
}
.post-author-hover-btn {
  width: 80px;
  padding: 10px 5px;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--default-radius);
}
.post-author-hover-btn:hover {
  background: var(--hover-color);
}
.post-timings {
  font-size: 0.8rem;
  margin-left: 8px;
}

.post-desc {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5px 10px;
  margin: 0 auto;
}
.post-flairs {
  padding: 10px 0;
}
.post-flair-btn {
  border: none;
  padding: 5px 5px;
  border-radius: var(--default-radius);
  cursor: pointer;
  font-size: 0.7rem;
  background: rgb(226, 223, 223);
}
.post-actions {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 5px 0;
  justify-content: space-between;
}
.post-actions-left {
  display: flex;
  width: 22%;
  justify-content: space-between;
}
.post-actions-left a {
  display: flex;
  align-items: center;
  padding: 0;
}
.post-actions-right a {
  display: flex;
  align-items: center;
}
.post-actions-save {
  padding: 7px 10px;
  border-radius: var(--default-radius);
  background: rgb(226, 223, 223);
  font-size: 1rem;
}

/* SIDEBAR UPDATES */
.updates {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  max-height: 120vh;
}

.primary-update {
  width: 100%;
  padding: 15px 15px;
  border: var(--default-border);
  border-radius: var(--default-radius);
  background: var(--default-white);
  margin-bottom: 15px;
}
.primary-update-para {
  font-size: 1.1rem;
  font-weight: 300;
}
.primary-update-link {
  font-size: 1rem;
  text-align: center;
  text-decoration: underline;
}

.secondary-updates {
  width: 100%;
  border: var(--default-border);
  border-radius: var(--default-radius);
  background: var(--default-white);
  margin-bottom: 15px;
  font-size: 1.1rem;
  overflow: hidden;
}
.secobdary-updates-nav {
  padding: 15px 15px;
  align-items: center;
  border-bottom: var(--default-border);
}
.secondary-updates-content {
  padding: 15px 15px;
  border-bottom: var(--default-border);
  background: var(--default-white);
}
.secondary-updates-comment-count {
  font-size: 0.8rem;
  color: var(--faded-text);
}
